body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.profile {
  border-radius: 50%;
  margin-top: 6em;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../images/developer-background-609.jpg") no-repeat center
    center;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 8rem;
}

/* .transparency {
  opacity: 0.5;
  filter: alpha(opacity=50);
} */

p.mb-5 {
  font-size: 1.5em;
}

.side-note {
  font-style: italic;
  line-height: 2em;
}

.btn-outline-dark {
  border-color: #2c3e50;
}

.font-color {
  color: #2c3e50;
}

.button-color:hover {
  background-color: #68adc2 !important;
}
